<form action="/stocks" method="GET" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
      <input type="text" class="form-control" name="stockSearch" aria-describedby="searchHelp" placeholder="AAPL">
      <small id="searchHelp" class="form-text text-muted">Enter stock symbol or name</small>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  {{if .Success}}
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{.Stock.Name}}</h5>
      <p class="card-text">{{.Stock.Price}}</p>
      <a href="#" class="btn btn-primary">Buy STOCK!!!</a>
    </div>
  </div>
  {{end}}